<!-- Udger-update - config file -->

<appSettings>
  <add key="access_key" value="XXXXXX" /> 
  <add key="global_destination_directory" value="C:\tmp" />

  <!--  =========== data for parsers - Local parser subscription ================  -->
  <!-- true/false - 	Data v3 (sqlite3 format) -->
  <add key="udgerdb_v3.dat" value="true" />
  <add key="udgerdb_v3.dat_destination_directory" value="" />

  <!-- true/false - 	Data v3 (sqlite3 format - IP address not included) -->
  <add key="udgerdb_v3-noip.dat" value="false" />
  <add key="udgerdb_v3-noip.dat_destination_directory" value="" />

  <!-- true/false - 	Data v2 (sqlite3 format) -->
  <add key="udgerdb.dat" value="false" />
  <add key="udgerdb.dat_destination_directory" value="" />

  <!-- true/false - 	Data v1 (INI format) -->
  <add key="udgerdata_old.ini" value="false" />
  <add key="udgerdata_old.ini_destination_directory" value="" />

  <!-- true/false - 	Data v1 (XML format) -->
  <add key="udgerdata_old.xml" value="false" />
  <add key="udgerdata_old.xml_destination_directory" value="" />
  <!--  =========== data for parsers - Local parser subscription ================  -->

  <!--  =========== Icons - Local and Cloud parser subscription =================  -->
  <!-- true/false - UA icons -->
  <add key="ico_ua.zip" value="false" />
  <add key="ico_ua.zip_destination_directory" value="" />

  <!-- true/false - OS icons -->
  <add key="ico_os.zip" value="false" />
  <add key="ico_os.zip_destination_directory" value="" />

  <!-- true/false - Device icons -->
  <add key="ico_device.zip" value="false" />
  <add key="ico_device.zip_destination_directory" value="" />
  <!--  =========== Icons - Local and Cloud parser subscription =================  -->

  <!--  =========== Additional data - Local and Cloud parser subscription =======  -->
  <!-- true/false - Crawlers (All) IP List (CSV) -->
  <add key="botIP.csv" value="false" />
  <add key="botIP.csv_destination_directory" value="" />

  <!-- true/false - Sample UAS (CSV) -->
  <add key="uas_example.csv" value="false" />
  <add key="uas_example.csv_destination_directory" value="" />

  <!-- true/false - Sample Operating Systems (CSV) -->
  <add key="uasOS_example.csv" value="false" />
  <add key="uasOS_example.csv_destination_directory" value="" />

  <!-- true/false - Sample Devices (CSV) -->
  <add key="uaDEVICE_example.csv" value="false" />
  <add key="uaDEVICE_example.csv_destination_directory" value="" />

  <!-- true/false - MAC address vendors (CSV) -->
  <add key="mac_address_vendors.csv" value="false" />
  <add key="mac_address_vendors.csv_destination_directory" value="" />
  <!--  =========== Additional data - Local and Cloud parser subscription =======  -->


  <!--  =========== Additional data - Local parser subscription =================  -->
  <!-- true/false - 	Anonymizing VPN services IP List (CSV) -->
  <add key="anonymizing_vpn_service.csv" value="false" />
  <add key="anonymizing_vpn_service.csv_destination_directory" value="" />

  <!-- true/false - 	Fake crawlers IP List (CSV) -->
  <add key="fake_crawler.csv" value="false" />
  <add key="fake_crawler.csv_destination_directory" value="" />

  <!-- true/false - Known attack source IP List (CSV) -->
  <add key="known_attack_source.csv" value="false" />
  <add key="known_attack_source.csv_destination_directory" value="" />

  <!-- true/false - 	Public cgi proxies IP List (CSV) -->
  <add key="public_cgi_proxy.csv" value="false" />
  <add key="public_cgi_proxy.csv_destination_directory" value="" />

  <!-- true/false - 	Public web proxies IP List (CSV) -->
  <add key="public_web_proxy.csv" value="false" />
  <add key="public_web_proxy.csv_destination_directory" value="" />

  <!-- true/false - Tor exit nodes IP List (CSV) -->
  <add key="tor_exit_node.csv" value="false" />
  <add key="tor_exit_node.csv_destination_directory" value="" />
  <!--  =========== Additional data - Local parser subscription =================  -->



</appSettings>